
{% extends 'mainApp/mainApp_base.html' %}
{% load staticfiles %}
{% block content %}

      <!-- Introduction Row -->
      <br>
        <br>
        <h1 class="my-4">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>Well it's my first website all-by-myself made and actually made just for me, but it's something as for beginner</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>Vlad Novitsky
            <small>No job</small>
          </h3>
          <p>Done all that.</p>
        </div>
      </div>

{% endblock %}
