
{% extends 'mainApp/mainApp_base.html' %}
{% load staticfiles %}
{% block content %}
      <!-- Page Heading -->
        <h1 class="my-4"><strong>{{ albums.last }}</strong></h1>

      <div class="row">
          {% for album in albums %}
          <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="{% url "mainApp:songs_page"  pk=album.pk %}">
                <img class="card-img-top" src= "{% static "img/alb/" %}{{ album.pk }}.jpg" alt="ALBUM_IMG">
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url "mainApp:songs_page" pk=album.pk %}">{{ album.album_name }}</a>
              </h4>
              <p class="card-text">{{ album.album_info }}</p>
            </div>
          </div>
          </div>
          {% empty %}
            <div class="col-lg-12 text-center">
          <h1 class="mt-5">Oops, there's nothing there for now</h1>
          <p class="lead">Seems it's still empty as you see</p>
          </ul>
        </div>
          {% endfor %}
      <br>
      </div>
      <!-- /.row -->
{% endblock %}
