
{% extends 'mainApp/mainApp_base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
      <!-- Page Heading -->
      <h1 class="my-4"><br></h1>

      <!-- Project One -->
        {% for artist in artists %}
        <div class="row">
          <div class="col-md-7">
          <a href="{% url "mainApp:albums_page" pk=artist.pk %}">
            <img class="img-fluid rounded mb-3 mb-md-0" src="../../static/img/avatars/{{ artist.pk }}.jpg" alt="ARTIST_IMG">
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{ artist.artist_name }}</h3>
          <p>{{ artist.info }}</p>
          <a class="btn btn-primary" href="{% url "mainApp:albums_page" pk=artist.pk %}">View Albums</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
        {% endfor %}
    {% endblock %}
